body, html{
width:100%;
height:100%;
margin:0px;
}
header{
font-family:courier;
text-align:center;
background-color:green;
color:white;
padding:0.6%;
font-size: 1.06vw;
}
.text{
background-color:blue;
color:white;
font-family:arial;
font-size: 1.06vw;
width:29.5%;
height:39.5vw;
margin-left:35%;
margin-right:35%;
padding-top:0.01%;
padding-left:2%;
padding-right:1.5%;
padding-bottom:0.5%;
}
#lorem{
margin-bottom:2%;
}
.square{
width: 6vw;
height: 6vw;
background-color: blue;
border: 0.3vw solid white;
border-radius: 1vw 0vw 1.5vw 0vw;
float: left;
margin: 0% 4% 5% 0%
}
.link{
text-align:center;
color:red;
margin-top:2%;
margin-bottom:2%;
}
h2{
word-spacing: 0.4vw;
margin-top:2%;
margin-bottom:2%;
}
ul{
margin-top:2%;
margin-bottom:2%;
padding-left:8%;
}
span{
color:red;
}
#li{
letter-spacing: 0.4vw;
color: #00FEFE;
margin: 0.3vw 0vw;
}
td{
width:2.5vw; 
height:2vw; 
border: double 0.1vw;
text-align:center;
}
table{
float:right;
border-spacing: 0.2vw; 
border:solid 0.1vw;
}
.list{
line-height:78%;
margin-bottom:5%;
}
#pic{
width:1.6vw; 
height:1.6vw;
float: right;
clear: both;
margin-top: 3%;
}
footer{
font-family:arial;
text-align:center;
background-color:green;
color:white;
padding:0.6%;
font-size: 1.06vw;
}